h2 {
    text-decoration: line-through;    /* Установка перечёркивания текста */
    color: red;                    /* Установка красного цвета */
    text-align: justify;            /* Расположение текста по ширине */
}

a :visited {             /* Установка цвета посещённой ссылки на красный */
    color: red;
}

a {
    color: skyblue;             /* Установка голубого цвета */
    text-decoration: none;       /* Установка неподчёркнутого стиля текста */
}                         